.tableContainer{
    border-radius: 0.5vw;
    background: #E8E8E8;
    width: 100%;
    height: 84vh;
}

.table {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 7vh auto;
}

.errorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorMessage {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8vw;
    letter-spacing: 0.04em;
    margin: 0;
    color: #224973;
    margin-bottom: 1vw;
}

.errorButton {
    cursor: pointer;
    background-color: #224973;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 1.5vw;
    letter-spacing: 0.04em;
    margin: 0;
    color: white;
    margin-bottom: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    border: none
}