.tableContainer{
    border-radius: 0.5vw;
    background: #E8E8E8;
    width: 100%;
    height: 84vh;
}

.table {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 7vh auto;

}