.rowContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    height: 5.424vw;
    padding-bottom: 0.075vw;
    padding-top: 0.175vw;
    border-bottom: 0.1vw solid #9498A0;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.rowContainer:first-child{
    padding-top: 0;
}

.rowContainer:last-child{
    border-bottom: 0.1vh solid #ffffff;
}