.searcher {
    display: inline-flex;
    border-bottom: 0.05vw solid #224973;
    width: auto;
    height: 3.5vh;
    align-items: center;
    margin-top: 1.3vh;
}

.searchField {
    width: 20vw;
    height: 3.5vh;
    border: 0;
    background: none;
    margin-left: 0.6vw;
}

.searchField:focus {
    outline: none;
}

.searchIcon {
    width: 2.5vh;
    height: 2.5vh;
}