.searcher {
    box-sizing: border-box;
    display: flex;
    width: 30%;
    border-bottom: 0.05vw solid #224973;
    height: 2.5vw;
    align-items: center;
    margin-bottom: 2vw;
}

.searchField {
    min-width: 93%;
    max-width: 93%;
    min-height: 2.5vw;
    max-height: 2.5vw;
    border: 0;
    background: none;
}

.searchField:focus {
    outline: none;
}

.searchButton {
    cursor: pointer;
    padding: 0;
    background-color: inherit;
    border: none;
    min-width: 7%;
    max-width: 7%;
}

.searchIcon {
    padding: 0;
    width: 100%;
}