.headerContainer {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.labContainer{
    text-align: center;
    cursor: pointer;
}

.labNumber {

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    letter-spacing: 0.04em;

    color: #181818;
    margin: 0;
}

.labDeadline{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85vw;

    letter-spacing: 0.02em;
    color: #181818;
    margin:0
}