.headerWindow{
    width: 100%;
    overflow-x: hidden;
}

.headerContainer {
    width: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.labContainer{
    min-width: 10%;
    max-width: 10%;
    text-align: center;
    cursor: pointer;
}

.labNumber {

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    letter-spacing: 0.04em;

    color: #181818;
    margin: 0;
}

.labDeadline{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85vw;

    letter-spacing: 0.02em;
    color: #181818;
    margin:0
}