.resultTableContainer {
    height: 77vh;
    width: 100%;
    align-items: center;
}

.tableNavContainer {
    display: grid;
    height: 8%;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.7vw;
    background: #E8E8E8;
}

.tableNavContainer.header {
    overflow-y: scroll;
    margin-right: 0;
}

.tableNavContainer.header::-webkit-scrollbar {
    width: 0.7vw;
}

.tableNavContainer.header::-webkit-scrollbar-track{
    width: 0.7vw;
}

.group {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    letter-spacing: 0.04em;
    color: #181818;
    margin: 0;
}

.count {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85vw;

    letter-spacing: 0.02em;
    color: #181818;
    margin:0
}
