.contact{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color: #224973;
    font-weight: 400;
    font-size: 2vmin;
    letter-spacing: 0.02em;
}