.messegeElemContainer {
    
    width: 97%;
    border-bottom: 0.01vmin solid #224973;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 3%;
}

.messegeElemContainer:first-child{
    border-top: 0.01vmin solid #224973;
}

.flexContainer{
    display: flex;
}

.arrowContainer {
    display: flex;
    align-items: center;
    min-width: 13%;
    max-width: 13%;
    margin-right: 5%;
}

.message {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-size: 1.7vmin;
}

.theme {
    -webkit-line-clamp: 1;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.content {
    -webkit-line-clamp: 2;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.send{
    color: black;
    opacity: 0.7;
}