.main {
  display: grid;
  grid-template-columns: 7vw 93vw;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  height: 100vh;
  width: 100%;
  width: 97%;
  margin: 0 auto;
}

.over {
  display: flex;
  justify-content: space-between;
  height: 16vh;
}