.searcher {
    display: inline-flex;
    border-bottom: 2px solid #224973;
    width: auto;
    height: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
}

.searchField {
    width: 20vw;
    height: 4vh;
    border: 0;
    background: none;
    margin-left: 0.6vw;
}

.searchField:focus {
    outline: none;
}

.searchIcon {
    width: 3vh;
    height: 3vh;
}