.table {
    background: #E8E8E8;
    width: 90.4vw;
    height: 84vh;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 7vh auto;
    margin-left: 1.3vw;
    margin-right: 1.3vw;
    border-radius: 6px;
}

.resultTableContainer {
    height: 77vh;
    width: 100%;
    align-items: center;
}

.tableNavContainer {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background: #E8E8E8;
}

.tableNavContainer.header {
    height: 7%;
}

.tableNavContainer.scores {
    align-items:flex-start;
    height: 93%;
    overflow: auto;
}

.tableNavContainer.scores::-webkit-scrollbar {
    width: 0.7vw;
}

.tableNavContainer.scores::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-top-right-radius: 6px;
}

.tableNavContainer.scores::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(193, 193, 193);
    border: solid 0.3vw white;
    border-radius: 15px;
}

.tableNavText {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;

    letter-spacing: 0.02em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.tableNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    display: inline;
    margin-right: 0.7vw;
}

.group {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;

    letter-spacing: 0.04em;
    color: #181818;
    margin: 0;
}

.count {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.45vh;

    letter-spacing: 0.02em;
    color: #181818;
    margin:0
}

.scoresContainer{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.studentsContainer{
    width: 100%;
    height: 100%;
}