.scoreContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    max-width: 10%;
    height: 100%;
    transition: opacity 0.2s;
}

.scoreContainer.selected {
    border-style: none dashed;
    border-width: 0.15vw;
    border-color: #224973;
    transition: opacity 0.2s;
}

.scoreContainer.notSelected {
    opacity: 0.3;
    transition: opacity 0.2s;
}

.score {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 0.5vw;
    cursor: pointer;
}

.score.done {
    background: #259D88;
}

.score.send {
    background: #FFBD80;
}

.score.return {
    background: #D5A0C8;
}

.scoreNumber {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;  
    letter-spacing: 0.06vw;
    color: #FFFFFF;
    margin: 0;
}

.centerText {
    display: table-cell;
    vertical-align: middle;
}