.tableNavContainer {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.7vw;
    background: #E8E8E8;
}

.tableNavContainer.scores {
    margin-right: 0;
    height: 92%;
    overflow-y: auto;
}

.tableNavContainer.scores::-webkit-scrollbar {
    width: 0.7vw;
}


.tableNavContainer.scores::-webkit-scrollbar-thumb {
    background: #C7E8EF;
    border-radius: 0.5vw;
}

.tableNavContainer.scores::-webkit-scrollbar-track{
    border: 0.15vw solid #C7E8EF;
    border-radius: 0.5vw;
    background-color: white;
}

.scoresContainer{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-top-right-radius: 0.5vw;
    border-top-left-radius: 0.5vw;
    margin-left: auto;
    margin-right: auto;
}

.studentsContainer{
    width: 100%;
    height: 100%;
}

.studentElemContainer{
    margin-top: 0.35vw;
    margin-bottom: 0.35vw;
    margin-right: 0.5vw;
    cursor: pointer;
}

.studentElemContainer:first-child{
    margin-top: 0;
}